---
const { book } = Astro.props;
---
<div class="button-row" aria-label="Amazon format links">
  <a class="button" href={book.amazon.kindle}>Kindle</a>
  <a class="button secondary" href={book.amazon.paperback}>Paperback</a>
  <a class="button secondary" href={book.amazon.hardcover}>Hardcover</a>
</div>
